<div *ngFor="let field of config.fields">
  <ng-container [formGroup]="form">
    <label *ngIf="field.type === 'Group'">{{ field.label }}</label>

    <mat-form-field *ngIf="field.type === 'Text'" class="example-form-field">
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="{{ field.key }}"
        [placeholder]="field.placeholder"
      />
    </mat-form-field>

    <textarea
      *ngIf="field.type === 'Textarea'"
      formControlName="{{ field.key }}"
      [placeholder]="field.placeholder"
    ></textarea>

    <select *ngIf="field.type === 'Dropdown'" formControlName="{{ field.key }}">
      <option *ngFor="let option of field.options" [value]="option">
        {{ option }}
      </option>
    </select>

    <input
      *ngIf="field.type === 'Checkbox'"
      type="checkbox"
      formControlName="{{ field.key }}"
    />

    <div *ngIf="field.type === 'Group'" formGroupName="{{ field.key }}">
      <app-form-field
        [form]="getFormGroup(field)"
        [config]="field"
      ></app-form-field>
    </div>
  </ng-container>
</div>
