<mat-form-field class="form-textarea">
  <mat-label>{{ field.label }}</mat-label>
  <textarea
    matInput
    [formControl]="control"
    [placeholder]="field.placeholder"
  ></textarea>
  @if (control.errors?.['required']) {
  <mat-error>{{ field.label }} is required</mat-error>
  }@if (control.errors?.['minlength']) {
  <mat-error
    >{{ field.label }} must be at least
    {{ field.validation?.minLength }} characters long</mat-error
  >
  } @if (control.errors?.['maxlength']) {
  <mat-error
    >{{ field.label }} must be less than
    {{ field.validation?.maxLength }} characters
  </mat-error>
  }
</mat-form-field>
